{% extends "base.html" %}

{% block section %}

<div class = "mycontainer1 container-fluid">
    <h1 class="text-center text-light display-1">Globális deviza küldések</h1>
    <h4 class="text-center text-light">A világon a vezető devizákat globálisan továbbítjuk.</h4>
    
    <div class="mycontainer2 p-4 m-1">
        <div class = "row row-cols-1 row-cols-lg-3 g-2 text-center">
            <p class = "h4" > Üdvözöllek kedves </p>
            <p class = "h3" > {{user.username}} </p>

            <a href="{% url 'tranzakciok' %}">
                <button class = "btn mybtnactive mycontainer2" >
                    <i class="bi bi-send-check"></i> - Korábbi tranzakcióid </i>
                </button>
            </a><!--Gomb: Átirányít a tranzakciok.html-re -->

        </div>
    </div>


    <div class="container px-4 text-center kuldesbig">
        <div class="row row-cols-1 row-cols-lg-2">
            <div class="col">
                <div class="p-3">
                    <div class="szoveg01">
                        <br>
                        A pénzküldés gyors és megbízható módja
                    </div>
                    <div class="szoveg02">
                        <br>
                        Emberek milliói ellenőrzik a nemzetközi tarifákat, és online pénzt küldnek a 200 ország 100 devizában.
                    </div>
                </div>
            </div>

          <div class="col">
            <div class="mycontainer2 p-3 text-start">
                <p>A pénz küldés biztonságos módja</p>

            <form method="post" action="{% url 'home' %}">
                {% csrf_token %}
        
                <i class="h1 bi bi-cash-coin"></i> - Küldeni kívánt összeg
                <div class="input-group mb-3">
                    <span class="input-group-text">Küldendő összeg:</span>
                    <!--<span class="input-group-text">0.</span>-->
                    <input class="form-control" type="number" id="amount" name="amount" required>
                </div>

                <i class="h1 bi bi-box-arrow-in-right"></i> - Őn által küldött deviza
                <div class="input-group mb-3">
                    <label class="input-group-text" for="inputSelect">Be küldés</label>

                    <select class="form-select" id="from_currency" name="from_currency">
                        {% for currency in currencies %}
                            <option value="{{ currency }}">{{ currency }}</option>
                        {% endfor %}
                    </select>
                </div>

                <i class="h1 bi bi-box-arrow-right"></i> - Kedvezményezett megkapja deviza
                <div class="input-group mb-3">
                    <label class="input-group-text" for="outputSelect">Ki váltás</label>

                    <select class="form-select" id="to_currency" name="to_currency">
                        {% for currency in currencies %}
                            <option value="{{ currency }}">{{ currency }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="d-flex justify-content-center">
                    <input class = "btn mybtnactive mycontainer2 m-3 p-3" type="submit" value="Váltás"> <!--Váltás végrehajtása gomb.
                    Az itt váltott értékek NEM kerülnek bele a tranzakciók listába, csak válani lehet a pénznemek között.
                    -->
                    </div>
    
            </form>
    
            <div class = "h6 text-center" id="kuldendoosszeg" name="kuldendoosszeg">
                Küldendő összeg és pénznem: {{converted_amount}} {{to_currency}}
            </div>
            
            <div class = "h6 text-center" style="color:red">
                A küldés költsége és pénznem: {{ kuldeskoltsege }} {{from_currency}}
            </div>
            
            <div class = "h6 text-center" >
                Összes költség és pénznem: {{ osszeslevonas }} {{from_currency}}
            </div>
            

        <form method="post" action="{% url 'save_data' %}">
            {% csrf_token %}
            <input type="hidden" name="converted_amount" value="{{ converted_amount }}">
            <input type="hidden" name="to_currency" value="{{ to_currency }}">

                <i class="h1 bi bi-box-arrow-right"></i> - Kedvezményezett adatai
                <div class="input-group mb-3">
                    <label class="input-group-text" for="kedvezmenyezett">Címzett neve</label>
                    <input class="form-control" type="text" id="kedvezmenyezett" name="kedvezmenyezett" required>
                </div>

                <div class="input-group mb-3">
                    <label class="input-group-text" for="szamlaszamkedv">Címzett számlaszáma</label>
                    <input class="form-control" type="text" id="szamlaszamkedv" name="szamlaszamkedv" maxlength="16" pattern="\d*" required oninput="this.value = this.value.replace(/[^0-9]/g, '');">
                </div>

                <i class="h1 bi bi-box-arrow-right"></i> - Kedvezményezett adatai
                <div class="input-group mb-3">
                    <label class="input-group-text" for="megjegyzes">Megjegyzés</label>
                    <textarea class="form-control" id="megjegyzes" name="megjegyzes"></textarea>
                </div>


                <div class="p-3">
                    <div class = "h3 valtas2sor"></div>
                </div>

                <div class="d-flex justify-content-center">
                    <input class = "btn mybtnactive mycontainer2 m-3 p-3" type="submit" id="mentes" value="Küldés">
                </div>
            </form>

            </div>
          </div>
        </div>

        
        <div class="col my-1">
            <div class="my-5 text-center">
                <div class="szoveg01">A pénz küldés előnyei</div>
                <div class="szoveg02">Mennyit lehet megtakarítani, ha nemzetközi pénzátutalásokat küld velünk?</div>
            </div>
        </div>
    </div>


</div>
    </div>
{% endblock section %}
