{% extends "base.html" %}

{% block section %}
<!--Itt tekintheti meg a bejelentkezett felhasználó a tranzakciós adatait-->
<div class="mycontainer1 p-4 m-1 text-center">
    <h1 class="text-center text-light display-1">Utaljon pénzt könnyen, gyorsan és biztonságosan!</h1>
    <h4 class="text-center text-light">Akár a vacsoraköltségeket osztják meg, akár egy közös
        ajándékhoz járulna hozzá, velünk kényelmesen küldhet pénzt.</h4>


    <div class="mycontainer2 p-4 m-1">
        <div class = "row row-cols-1 row-cols-lg-3 g-2 text-center">
            <p class = "h4" > Üdvözöllek kedves </p>
            <p class = "h3" > {{user.username}} </p>

            <a href="{% url 'home' %}">
                <button class = "btn mybtnactive mycontainer2" >
                    <i class="bi bi-send-check"></i> - Globális deviza küldése </i>
                </button>
            </a><!--Gomb: Átirányít a tranzakciok.html-re -->

        </div>
    </div>

    <div class="mycontainer2">
        <p class = "h4" > Tranzakciós lista </p>
        <table class="table table-hover my-4">
            <thead class="table-light">
                <tr>
                    <td class="text-center"><b>Mikor</b></td>
                    <td class="text-center"><b>Kinek </b></td>
                    <td class="text-center"><b>Számlára</b></td>
                </tr>
                <tr>
                    <td class="text-center"><b>Elküldött összeg devizanem</b></td>
                    <td colspan="2" class="text-start"><b>Megjegyzés</b></td>
                </tr>
            </thead>
            <tbody class="table-primary" id="myChartDataTables">
                {% for i in adatok %}
                    <tr>
                        <td class="text-center">{{ i.kuldesdatuma }}</td>
                        <td class="text-center">{{ i.kedvezmenyezettneve }}</td>
                        <td class="text-center">{{ i.kedvezmenyezettszamlaszam }}</td>
                    </tr>
                    <tr>
                        <td class="text-center">{{ i.elkuldottosszeg }} {{ i.elkuldottdevizanem }}</td>
                        <td class="text-start" colspan="2">{{i.megjegyzesek }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock section %}